* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body * {
  font-family: "Golos Text", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 200 !important;
  font-family: "Play", sans-serif;
}

h1,
h2 * {
  font-weight: 200 !important;
  font-family: "Play", sans-serif;
}

h2 * {
  color: #898989;
}

h1 {
  color: #898989;
}

h3 span {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

h2,
h3 {
  text-transform: uppercase;
}

summary::marker {
  color: #5573d5;
}

.notion-quote {
  font-size: 1em;
  color: #777;
}

.notion-quote b {
  color: #000;
}

.notion-h3 {
  display: contents;
}

.notion-h-title b {
  font-weight: 100;
  color: rgb(159 159 159);
}

a,
a:visited {
  color: #0027a7 !important;
  border-color: #0027a7 !important;
  transition: color 0.3s, opacity 0.3s;
}

a:hover,
a:active {
  opacity: 1 !important;
  color: #35498b !important;
  border-color: #35498b !important;
  transition: color 0.3s, opacity 0.3s;
}

.notion-teal a,
.notion-teal a:visited {
  color: rgb(82, 158, 114) !important;
  border-color: rgb(82, 158, 114) !important;
}

.notion-yellow a,
.notion-yellow a:visited {
  color: rgb(223, 171, 1) !important;
  border-color: rgb(223, 171, 1) !important;
}

.notion-purple a,
.notion-purple a:visited {
  color: rgb(105, 64, 165) !important;
  border-color: rgb(105, 64, 165) !important;
}

.notion-brown a,
.notion-brown a:visited {
  color: rgb(100, 71, 58) !important;
  border-color: rgb(100, 71, 58) !important;
}

.notion-orange a,
.notion-orange a:visited {
  color: rgb(217, 115, 13) !important;
  border-color: rgb(217, 115, 13) !important;
}

.notion-gray {
  /* color: rgb(100 100 100); */
}

.notion-callout .notion-list-numbered li::marker {
  content: "✨ ";
  font-size: 1.2em;
}

summary {
  margin-bottom: 1rem !important;
}

h3 {
  display: block !important;
  font-size: 16px !important;
  color: #5573d5;
}

h4 .notion-gray {
  font-size: 16px;
}

/*
body * {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 200 !important;
  color: rgb(155, 139, 89) !important;
  font-family: "Fira Sans", sans-serif;
}

h4 {
  font-weight: 200 !important;
  font-family: "Fira Sans", sans-serif;
}

summary::marker {
  color: rgb(155, 139, 89) !important;
}

a,
a:visited {
  color: rgb(11, 110, 153) !important;
  border-color: rgb(11, 110, 153) !important;
}

.notion-teal a,
.notion-teal a:visited {
  color: rgb(82, 158, 114) !important;
  border-color: rgb(82, 158, 114) !important;
}

.notion-yellow a,
.notion-yellow a:visited {
  color: rgb(223, 171, 1) !important;
  border-color: rgb(223, 171, 1) !important;
}

.notion-purple a,
.notion-purple a:visited {
  color: rgb(105, 64, 165) !important;
  border-color: rgb(105, 64, 165) !important;
}

.notion-brown a,
.notion-brown a:visited {
  color: rgb(100, 71, 58) !important;
  border-color: rgb(100, 71, 58) !important;
}

.notion-gray_background_co {
  background-color: rgb(247, 236, 231);
  border-radius: 10px;
}

.notion-callout-text .notion-gray {
  color: rgb(155 139 89);
}

.notion-quote {
  font-size: 1em;
  color: 9b8b59;
}

.notion-h3 {
  display: contents;
}

.notion-text > .notion-default > b {
  color: #999;
  color: rgb(155, 139, 89);
}
*/
